/Blinky.X/build/
/Blinky.X/dist/
/leakCounter_pic18.X/build/
/leakCounter_pic18.X/dist/
/PIC18F06Q40_v2_KL.X/build/
/PIC18F06Q40_v2_KL.X/dist/
/PIC18F06Q40_Template.X _V013_SemiOK_AA_V2 copy/build/
/PIC18F06Q40_Template.X _V013_SemiOK_AA_V2 copy/dist/
/PIC18F06Q40_Template.X _V031_Lu/build/
/PIC18F06Q40_Template.X _V031_Lu/dist/